/* CSS declarations go here */
.padding-0-50{
    padding: 0 50px;
}
.hide{
    display: none;
}
#projectList i.icon-cancel{
    cursor: pointer;
}
#projectList .active{
    color: red;
}
.issue-open{
    background-color: #6cc644;
    color: #ffffff;
    border-radius: 4px;
    padding: 0 5px;
}
.event{
   margin: 5px 0;
}